.class1{
    background: #444;
    color: #eee;
}
.left{
    position: absolute;
    height: 100%;
    right: 90%;
    width: 10%;
    top: 0%;
}
.right{
    position: absolute;
    height: 100%;
    left: 15%;
    width: 85%;
    top: 0%;
}
