<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue 测试实例</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="http://101.132.125.165:8081/arcgis_js_api/library/4.7/esri/css/main.css" />
    <script src="js/vue.js"></script>
    <script src="http://101.132.125.165:8081/arcgis_js_api/library/4.7/init.js"></script>
</head>
<body>
<div id="app">
    <div class="left">
        <a v-bind:href="message"><p>{{ message }}</p></a>
        <input v-model="message"><br>
        <button v-on:click="reverseMessage">点击跳转到该网页</button><br>
        {{ ok ? 'YES' : 'NO' }}<br>
        <div v-bind:id="'list-' + id">菜鸟教程</div>
        <label for="r1">修改颜色</label><input type="checkbox" v-model="class1" id="r1"><br>
        <label for="r1">Yes or No</label><input type="checkbox" v-model="ok" id="r2"><br>
        <label for="r1">可见不可见</label><input type="checkbox" v-model="seen" id="r3"><br>
        <label>
            男
            <input v-model="sex" value="male" type="radio">
        </label>
        <label>
            女
            <input v-model="sex" value="female" type="radio">
        </label>
        <br>
        {{sex}}
        <br>
        <div v-bind:class="{'class1': class1}">
            directiva v-bind:class
        </div>
        <p v-if="seen">现在你看到我了</p>
        <ul>
            <li v-for="food in foodlist">{{food.name}}：￥{{food.discount?food.price * food.discount:food.price}}</li>
        </ul>
        <div>你来自哪里？</div>
        <select v-model="dest" multiple>
            <option value="1">松江</option>
            <option value="2">青浦</option>
        </select>{{dest}}
        <div v-if="role == 'admin' || role == 'super_admin'">管理员你好</div>
        <div v-else-if="role == 'hr'">待查看简历列表<br>...</div>
        <div v-else>你没有权限访问此页面</div>
    </div>
    <div id = "map" class="right"></div>
</div>
<script src="js/main.js" ></script>
</body>
</html>