<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>map</title>
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://localhost:8888/arcgis_js_api/library/4.8/esri/css/main.css">
    <link rel="stylesheet" type="text/css" href="css/map.css">
    <script type="text/javascript" src="lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/js/vue.js"></script>
    <script type="text/javascript" src="lib/js/vue-router.js"></script>
    <script type="text/javascript" src="lib/js/echarts.min.js"></script>
    <script type="text/javascript" src="lib/js/echarts-wordcloud.min.js"></script>
    <script>
        var dojoConfig = {
          has: {
            "esri-featurelayer-webgl": 1
          }
        };
    </script>
    <script src="http://localhost:8888/arcgis_js_api/library/4.8/init.js"></script>
</head>
<body>
<div id="app" v-cloak>
    <!--导航栏-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!--导航栏标题-->
            <div class="navbar-header">
                <router-link class="navbar-brand" to="/" href="#"><img src="image/title.png" height="30px" width="100px" style="margin-top: -5px"></img></router-link>
            </div>
            <!--导航栏主体-->
            <div>
                <!--下拉列表框导航栏元素-->
                <ul class="nav navbar-nav">
                    <!--图层控制下拉框-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle kaiti-17" data-toggle="dropdown">
                            图层控制
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">OSM地图
                                    <input v-model="base_layer" type="radio" class="pull-right" value="osm">
                                </a>
                            </li>
                            <li>
                                <a href="#">ESRI地图
                                    <input v-model="base_layer" type="radio" class="pull-right" value="streets">
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--地点下拉框-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle kaiti-17" data-toggle="dropdown">
                            查看地点
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <p href="#" style="margin-left: 10px">著名地点</p>
                            </li>
                            <li>
                                <router-link to="/place/103" href="#">长安</router-link>
                            </li>
                            <li>
                                <router-link to="/place/37" href="#">洛阳</router-link>
                            </li>
                            <li>
                                <router-link to="/place/57" href="#">荆门山</router-link>
                            </li>
                            <li>
                                <router-link to="/place/137" href="#">夔州</router-link>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <router-link to="/list/place" href="#" style="padding-left: 10px">全部地点...</router-link>
                            </li>
                        </ul>
                    </li>
                    <!--作者下拉框-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle kaiti-17" data-toggle="dropdown">
                            查看作者
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <p href="#" style="margin-left: 10px">著名作者</p>
                            </li>
                            <li>
                                <router-link to="/poet/23" href="#">李白</router-link>
                            </li>
                            <li>
                                <router-link to="/poet/1" href="#">白居易</router-link>
                            </li>
                            <li>
                                <router-link to="/poet/10" href="#">杜甫</router-link>
                            </li>
                            <li>
                                <router-link to="/poet/56" href="#">王维</router-link>
                            </li>
                            <li>
                                <router-link to="/poet/38" href="#">孟浩然</router-link>
                            </li>
                            <li>
                                <router-link to="/poet/18" href="#">韩愈</router-link>
                            </li>
                            <li>
                                <router-link to="/poet/27" href="#">李商隐</router-link>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <router-link to="/list/poet" href="#" style="padding-left: 10px">全部作者...</router-link>
                            </li>
                        </ul>
                    </li>
                    <!--诗人轨迹下拉框-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle kaiti-17" data-toggle="dropdown">
                            诗人轨迹
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <router-link to="/road/wangwei" href="#">王维</router-link>
                            </li>
                            <li>
                                <router-link to="/road/menghaoran" href="#">孟浩然</router-link>
                            </li>
                        </ul>
                    </li>
                    <!--热力图下拉框-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle kaiti-17" data-toggle="dropdown">
                            统计分析
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <router-link to="/statistic/1" href="#">初唐</router-link>
                            </li>
                            <li>
                                <router-link to="/statistic/2" href="#">盛唐</router-link>
                            </li>
                            <li>
                                <router-link to="/statistic/3" href="#">中唐</router-link>
                            </li>
                            <li>
                                <router-link to="/statistic/4" href="#">晚唐</router-link>
                            </li>
                            <li>
                                <router-link to="/statistic/0" href="#">全部时期</router-link>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--主体内容部分-->
    <div class="container container-map">
        <!--地图、侧边栏-->
        <div class="row row-map">
            <div id="map" class="col-md-9"></div>
            <div id="side" class="col-md-3" style="background: url(image/1.png)">
                <router-view></router-view>
            </div>
        </div>
        <!--ESRI自定义地图图例-->
        <div id="infoDiv" class="esri-widget" style="height: 40px; width: 140px; text-align: center"
             v-if="period_layer != 'Empty'">
            <p style="padding-top: 11px; font-size: 18px">时期：{{period}}</p>
        </div>
        <div id="infoDiv" style="visibility: hidden" v-else></div>
    </div>
</div>
</body>
<!--诗人介绍模板-->
<script type="text/x-template" id="poet-template">
    <div>
        <!--信息栏标题-->
        <div class="panel panel-title-custom">
            <h5 class="kaiti-25 text-center">作者简介</h5>
        </div>
        <!-- poet-info -->
        <div class="panel">
            <div class="text-center">
                <span class="kaiti-25"><strong>{{poet.name}}</strong></span>
            </div>
            <div class="table-info">
                <table class="table cart-items light-inputs">
                    <tbody>
                    <tr>
                        <td><span class="kaiti-17">别称：</span>{{poet.biechen}}
                        </td>
                    </tr>
                    <tr>
                        <td><span class="kaiti-17">字号：</span>{{poet.hao}}
                        </td>
                    </tr>
                    <tr>
                        <td><span class="kaiti-17">出生年份：</span>{{ poet.birth == '不详' ? poet.birth : '公元' + poet.birth + '年' }}
                        </td>
                    </tr>
                    <tr>
                        <td><span class="kaiti-17">逝世年份：</span>{{ poet.death == '不详' ? poet.death : '公元' + poet.death + '年' }}
                        </td>
                    </tr>
                    <tr>
                        <td><span class="kaiti-17">出生地：</span>{{poet.home}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--tab-panel-->
        <div class="panel">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#description-tab">简介</a></li>
                <li><a data-toggle="tab" href="#works-tab">作品</a></li>
            </ul>

            <div class="tab-content">
                <!-- #description-tab -->
                <div id="description-tab" class="tab-pane fade in active">
                    <p v-for="description in poet.descriptions">{{description}}</p>
                </div>
                <!-- #works-tab -->
                <div id="works-tab" class="tab-pane fade">
                    <ul class="list-group-item transparent" v-for="work in poet.works.items">
                        <li class="item" style="margin-left: 20px">
                            <router-link v-bind:to="{name:poet.works.type, params:{id:work.id}}" href="#">{{work.name}}
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
<!--诗歌介绍模板-->
<script type="text/x-template" id="poem-template">
    <div>
        <div class="panel panel-title-custom">
            <h5 class="kaiti-25 text-center">诗词信息</h5>
        </div>

        <div class="panel">
            <div class="text-center">
                <span class="kaiti-25"><strong>{{poem.title}}</strong></span>
            </div>
            <div class="table-info">
                <table class="table cart-items light-inputs">
                    <tbody>
                    <tr v-for="content_one in poem.content">
                        <td class="text-center"><span class="kaiti-17">{{content_one}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#Introduction-tab">简介</a></li>
                <li><a data-toggle="tab" href="#translation-tab">译文</a></li>
            </ul>
            <div class="tab-content">
                <div id="Introduction-tab" class="tab-pane fade in active">
                    <table class="table cart-items light-inputs">
                        <tbody>
                        <tr>
                            <td><span class="kaiti-17">作者：</span>{{poem.author}}</td>
                        </tr>
                        <tr>
                            <td><span class="kaiti-17">题材：</span>{{poem.theme}}</td>
                        </tr>
                        <tr>
                            <td><span class="kaiti-17">文学体裁：</span>{{poem.style}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="translation-tab" class="tab-pane fade">
                    <table class="table cart-items light-inputs">
                        <tbody>
                        <tr v-for="translation_one in poem.translation">
                            <td>{{translation_one}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>
<!--地点介绍模板-->
<script type="text/x-template" id="place-template">
    <div>
        <div class="panel panel-title-custom">
            <h5 class="kaiti-25 text-center">地点信息</h5>
        </div>

        <div class="panel">
            <div class="text-center">
                <span class="kaiti-25"><strong>{{place.old_name}}</strong></span>
            </div>
            <div class="table-info">
                <table class="table cart-items light-inputs">
                    <tbody>
                    <tr>
                        <td><span class="kaiti-17">现地名：</span>{{place.new_name}}</td>
                    </tr>
                    <tr>
                        <td><span class="kaiti-17">经度：</span>东经 {{place.longitude}}度</td>
                    </tr>
                    <tr>
                        <td><span class="kaiti-17">纬度：</span>北纬 {{place.latitude}}度</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#poet-tab">该地出生的诗人</a></li>
                <li><a data-toggle="tab" href="#poem-tab">创作在该地的诗歌</a></li>
            </ul>
            <div class="tab-content">
                <div id="poet-tab" class="tab-pane fade in active">
                    <ul class="list-group-item transparent" v-for="poet in place.poets.items">
                        <li class="item" style="margin-left: 20px">
                            <router-link v-bind:to="{name:place.poets.type, params:{id:poet.id}}" href="#">{{poet.name}}
                            </router-link>
                        </li>
                    </ul>
                </div>
                <div id="poem-tab" class="tab-pane fade">
                    <ul class="list-group-item transparent" v-for="poem in place.poems.items">
                        <li class="item" style="margin-left: 20px">
                            <router-link v-bind:to="{name:place.poems.type, params:{id:poem.id}}" href="#">{{poem.name}}
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
<!--列表模板-->
<script type="text/x-template" id="list-template">
    <div>
        <!--列表名称-->
        <div class="panel panel-title-custom">
            <h5 class="kaiti-25 text-center">{{ $route.params.type == 'place' ? '全部地点' : '全部作者' }}</h5>
        </div>
        <!--列表主体-->
        <div class="panel">
            <ul class="list-group-item transparent" v-for="item in list.items">
                <li class="item" style="margin-left: 20px">
                    <router-link v-bind:to="{name:list.type, params:{id:item.id}}" href="#">{{item.name}}</router-link>
                </li>
            </ul>
        </div>
    </div>
</script>
<!--统计分析模板-->
<script type="text/x-template" id="statistic-template">
    <div>
        <div class="panel">
            <h5 class="kaiti-25 text-center">诗人数量时期分布</h5>
            <div id="chart" style="width: 100%; height:250px;"></div>
        </div>
        <div class="panel">
            <h5 class="kaiti-25 text-center">诗人创作数量</h5>
            <div id="wordcloud" style="width: 100%; height:300px;"></div>
        </div>
    </div>
</script>
<!--轨迹模板-->
<script type="text/x-template" id="road-template">
    <div>
        <div>
            <div class="panel panel-title-custom">
                <h5 class="kaiti-25 text-center">{{ poetName }}</h5>
            </div>
        </div>
        <div class="panel" id="road_graphics">
        </div>
    </div>
</script>
<!--首页模板-->
<script type="text/x-template" id="home-template">
    <div>
        <div class="panel panel-title-custom">
            <h5 class="kaiti-25 text-center">欢迎来到诗意中国</h5>
        </div>
    </div>
</script>
<!--JS-->
<script type="text/javascript" src="js/testdata.js"></script>
<script type="text/javascript" src="js/api/test.js"></script>
<script type="text/javascript" src="js/map.js"></script>
<script type="text/javascript" src="js/chart.js"></script>
<script type="text/javascript" src="js/vue-map.js"></script>
</html>
